In [1]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
import pandas as pd

/home/sasiram/snap/jupyter/common/lib/python3.7/site-packages/joblib/_multiprocessing_helpers.py:45: UserWarning: [Errno 13] Permission denied.  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))

In [2]:
df = pd.read_csv('msgs.csv',encoding='latin1')

In [3]:
counter = Counter(df['Class'].tolist())
top_10_varieties = {i[0]: idx for idx, i in enumerate(counter.most_common(3))}
df = df[df['Class'].map(lambda x: x in top_10_varieties)]
top_10_varieties
df

           Class                                           Category
0    transaction  Your SIP installment under HDFCMF folio 949181...
1      promotion  Priye Grahak! Aapke Rs.70 ke rchg ka benefit R...
2            otp  OTP for transaction of INR 23300.00 on your ca...
3      promotion  Big Bazaar NCR - Potato/Radish@10/kg Spinach@1...
4      promotion  Buy Shops PRELEASED with Most Trusted Brand of...
..           ...                                                ...
155    promotion  Earn 30000 Per Month by Just Investing in Pre ...
156    promotion  Your Amazon order with Blue Dart Awb# 69970593...
157    promotion  Pay 5% Now & Get Rs. 12,500/- Per Month Rest o...
158    promotion  Book your Audi NOW and beat the price hike. Fe...
159          otp  Dear Customer, 846836 is your one time passwor...

[158 rows x 2 columns]

In [4]:
description_list = df['Category'].tolist()
varietal_list = [top_10_varieties[i] for i in df['Class'].tolist()]
varietal_list = np.array(varietal_list)
varietal_list

array([2, 0, 1, 0, 0, 2, 0, 1, 0, 0, 1, 1, 0, 2, 0, 0, 1, 2, 0, 1, 2, 2,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 1,
       2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1])

In [5]:
count_vect = CountVectorizer()
x_train_counts = count_vect.fit_transform(description_list)

In [6]:
tfidf_transformer = TfidfTransformer()
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

In [7]:
train_x, test_x, train_y, test_y = train_test_split(x_train_tfidf, varietal_list, test_size=0.3)

In [8]:
clf = MultinomialNB().fit(train_x, train_y)
y_score = clf.predict(test_x)

In [9]:
n_0 = 0
n0 = 0
n_1 = 0
n1 = 0
n_2 = 0
n2 = 0
n_right = 0
for i in range(len(y_score)):
    if test_y[i]==0:
        n0+=1;
        if y_score[i] == test_y[i]:
            n_0 += 1
    if test_y[i]==1:
        n1+=1;
        if y_score[i] == test_y[i]:
            n_1 += 1
    if test_y[i]==2:
        n2+=1;
        if y_score[i] == test_y[i]:
            n_2 += 1
    if y_score[i] == test_y[i]:
        n_right += 1
print("Accuracy of promotion: %.2f%%" % ((n_0/n0 * 100)))
print("Accuracy of OTP: %.2f%%" % ((n_1/n1 * 100)))
print("Accuracy of transaction: %.2f%%" % ((n_2/n2 * 100)))
print("Overall Accuracy: %.2f%%" % ((n_right/float(len(test_y)) * 100)))

Accuracy of promotion: 100.00%
Accuracy of OTP: 100.00%
Accuracy of transaction: 70.59%
Overall Accuracy: 89.58%